.fridge {
    background-image: url(../images/fridge.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-left: 18vw;
    padding-right: 18vw;
    padding-top: 25vw;
    height: 135vw;
    text-align: center;
    justify-content: center;
}

.moodBoard {
    background-image: url(../images/moodBoard.png);
    background-size: cover;
    height: 4vw;
    padding: 7vw;
    width: 3vw;
    transition-duration: 500ms;
    justify-self: center;
    transform: rotate(15deg);
    border-radius: 5%;
    box-shadow: 0 0 10vw 0;
}

.moodBoard:hover {
    transform: rotate(-25deg);
    color: rgb(248, 250, 142);
}

.mbtitle>h1 {
    background-color: teal;
    font-size: 3vw;
}

.modal-content {
    background-color: transparent !important;
    color: rgb(194, 237, 238);
    justify-content: center;
    font-size: 2vw;
    align-items: center;
}

.persona1 {
    background-image: url(../images/persona1.png);
    background-size: cover;
    height: 6vw;
    padding: 2vw;
    transition-duration: 500ms;
    justify-self: center;
    transform: rotate(20deg);
    border-radius: 15%;
    font-size: 2vw;
    color: rgb(56, 29, 7);
    box-shadow: 0 0 5vw 0;
}

.persona1:hover {
    transform: rotate(-15deg);
    color: rgb(250, 181, 125);

}

.persona1>i {
    background-color: rgb(57, 168, 202);
    border-radius: 50%;
    padding: none;
}

.modal-body>img {
    height: 50vw;
    border-radius: 15%;
}

.persona2 {
    background-image: url(../images/persona2.png);
    background-size: cover;
    height: 6vw;
    padding: 2vw;
    transition-duration: 500ms;
    justify-self: center;
    transform: rotate(-5deg);
    border-radius: 15%;
    font-size: 2vw;
    color: rgb(56, 29, 7);
    box-shadow: 0 0 5vw 0;
}

.persona2:hover {
    transform: rotate(20deg);
    color: rgb(125, 210, 250);

}

.persona2>i {
    background-color: rgb(130, 153, 75);
    border-radius: 50%;
    padding: none;
}

.persona3 {
    background-image: url(../images/persona3.png);
    background-size: cover;
    height: 6vw;
    padding: 2vw;
    transition-duration: 500ms;
    justify-self: center;
    transform: rotate(35deg);
    border-radius: 15%;
    font-size: 2vw;
    color: rgb(56, 29, 7);
    box-shadow: 0 0 5vw 0;
}

.persona3:hover {
    transform: rotate(-10deg);
    color: rgb(125, 250, 146);

}

.persona3>i {
    background-color: rgb(121, 93, 158);
    border-radius: 50%;
    padding: none;
}

.webMap {
    background-image: url(../images/papers.png);
    background-size: cover;
    height: 4vw;
    padding: 7vw;
    width: 3vw;
    transition-duration: 500ms;
    justify-self: center;
    transform: rotate(-15deg);
    box-shadow: 0 0 10vw 0;
}

.webMap:hover {
    transform: rotate(25deg);
    color: rgb(87, 255, 191);
}

.wmtitle>h1 {
    background-color: rgb(179, 66, 245);
    font-size: 3vw;
    transform: translateY(-5vw);
}

.wireFrame {
    background-image: url(../images/wireFrame.png);
    background-size: cover;
    height: 16vw;
    padding: 2vw;
    transition-duration: 500ms;
    justify-self: center;
    transform: rotate(-15deg);
    box-shadow: 0 0 10vw 0;
    z-index: 3;
}

.wireFrame:hover {
    transform: rotate(25deg);
    color: rgb(241, 191, 241);
}

.wftitle>h1 {
    background-color: rgb(243, 151, 45);
    font-size: 3vw;
    transform: translateY(5vw);
}

.fristwire img {
    height: 50vw !important;
    
}

.wireFrames {
    justify-content: center;
    align-items: center;
}

.styleGuide {
    background-image: url(../images/styleGuide.jpg);
    background-size: cover;
    height: 4vw;
    padding: 7vw;
    width: 3vw;
    transition-duration: 500ms;
    justify-self: center;
    transform: rotate(30deg);
    border-radius: 5%;
    box-shadow: 0 0 10vw 0;
}

.styleGuide:hover {
    transform: rotate(-10deg);
    color: rgb(253, 123, 253);
}

.sgtitle>h1 {
    background-color: rgb(30, 128, 0);
    font-size: 3vw;
}

.hifi>video {
    height: 16vw;
    box-shadow: 0 0 10vw 0;
    transform: translateX(-2vw) translateY(7vw);
}

.me>a>button {
    transform: translateY(10vw);
    font-size: 3vw;
    background-color: floralwhite;
    transition-duration: 500ms;
    box-shadow: 0 0 10vw 0;
}

.me>a>button:hover {
    background-color: fuchsia;
    color: gold;
}

  .hfbut {
      border-radius: 15%;
  }

  .hfbut>a>button {
    transform: translateY(10vw);
    font-size: 3vw;
    background-color: floralwhite;
    transition-duration: 500ms;
    box-shadow: 0 0 10vw 0;
}

.hfbut>a>button:hover {
    background-color: fuchsia;
    color: gold;
}